 <div class="centrar"><br/>
	 <%= form_for(@user) do |f| %>
	   	<%= render 'mensajes/error_mensajes', object: f.object %>
			<h4><%= yield(:title) %></h4></br>
			<div class="container">
               <div class="row">
                   <div class="span3">
						<%= f.label "Usuario:" ,class:"label"%>
					    <%= f.text_field :username,:placeholder => "usuario",:maxlength=>"15"%>
					    <label class="label">Funcionario:</label>
						  <%=f.collection_select :id_funcionario,Funcionario.find(:all),:id,:nombres,:prompt=>"--Seleccione--"%>     
						 <a data-toggle="modal" href="#funcionario" ><label  class="mismalinea-espacio">Nuevo Funcionario </label></a> 
				    </div>
				   <div class="span3 offset1">
						<%= f.label "Contrasena:",class:"label" %>
					    <%= f.password_field :password,:placeholder => "contrasena",:maxlength=>"15" %><br/>
				   </div>	
			    </div>   	    
           </div>
 </div>          				    			    
			<div class="abajo" align="center"><br/>
					<%= f.submit "Guardar", class: "btn btn-primary" %>
			</div>			
    <% end %>

      <div id="funcionario" class="modal hide fade in" style="display: none;  " >
           <div class="modal-header">
               <a class="close" data-dismiss="modal">×</a>
                   <h3>Nuevo Funcionario</h3>
           </div>
           <div class="modal-body">
               <p id="notice"><%= notice %></p>
                    <%= form_for(@funcionario) do |f| %>
   		                <%= render 'mensajes/error_mensajes', object: f.object %>
			            <div class="mismalinea">
							<%= f.label "Nombres:",class:"mismalinea"%>
							<%= f.text_field :nombres,:placeholder => "nombre" ,class:"mismalinea-espacio",:maxlength=>"50"%>
						</div>
						<div class="mismalinea">
							<%= f.label "Apellidos:",class:"mismalinea"%>
							<%= f.text_field :apellidos,:placeholder => "apellido",class:"mismalinea-espacio",:maxlength=>"50"  %>
						</div>	<br/><br/><br/>
						<div class="mismalinea">	
							<%= f.label "Nro de doc:",class:"mismalinea"%>
							<%= f.text_field :num_identidad,:placeholder => "num_documenhto",class:"mismalinea-espacio",:maxlength=>"9" %>
						</div>	
						<div class="mismalinea">
						    <%= f.label "Direccion:",class:"mismalinea"%>
							<%= f.text_field :direccion,:placeholder => "direccion",class:"mismalinea-espacio",:maxlength=>"70"  %>
						</div><br/><br/><br/>	
						<div class="mismalinea">
							<%= f.label "Telefono:",class:"mismalinea"%>
							<%= f.text_field :telefono,:placeholder => "telefono" ,class:"mismalinea-espacio",:maxlength=>"15" %>
						</div>
						<div class="mismalinea">	
							<label class="mismalinea">Estado Civil:</label>
							<div class="mismalinea-espacio">
							    <select name="funcionario[estado_civil]" class="selectpicker" >
							    	 <option value="Soltero">--Seleccione--</option>
				                     <option value="Soltero">Soltero</option> 
				                      <option value="Casado">Casado</option> 
				                </select> 
				             </div>   
			             </div>  <br/><br/><br/> 
		                <div class="mismalinea">
							<label class="mismalinea">Sexo:</label>
							<div class="mismalinea-espacio">
								<select name="funcionario[sexo]" class="selectpicker">
									<option value="1">--Seleccione--</option> 
				                    <option value="M">Masculino</option> 
				                    <option value="F">Femenino</option> 
				                </select> 
				             </div>    
			            </div> 
			            <div class="mismalinea">   
					        <label class="mismalinea">Localidad: </label>
					        <div class="mismalinea-espacio">
					             <select name="funcionario[id_localidad]" class="selectpicker">
									  <% @localidades.each do |localidad| %>
									        <option value="<%= localidad.id %>" 
												  <%= 'selected' if localidad.id == @funcionario.id_localidad%>><%= localidad.nombre %>
										     </option>
									  <% end %>
					              </select> 
					        </div>      
					     </div> <br/><br/><br/>        
				        <div class="mismalinea">
						    <label class="mismalinea">Funcion:</label>
						    <div class="mismalinea-espacio">
							     <select name="funcionario[id_funcion]" class="selectpicker">
										<% @funciones.each do |funcion| %>
											<option value="<%= funcion.id %>" 
												  <%= 'selected' if funcion.id == @funcionario.id_funcion%>><%= funcion.nombre %>
											</option>
										<% end %> 
					             </select> 
					        </div>     
					     </div> 
					     <div class="mismalinea">  
					        <label class="mismalinea">Estado del Funcionario:</label>
					           <div class="mismalinea-espacio">
					               <select name="funcionario[id_estado_funcionario]" class="selectpicker">
					                    <option value="1">--Seleccione--</option> 
											<% @estados_funcionarios.each do |estado_funcionario| %>
												<option value="<%= estado_funcionario.id %>" 
												     <%= 'selected' if estado_funcionario.id == @funcionario.id_estado_funcionario%>>
												     <%= estado_funcionario.descripcion %>
											    </option>
											<% end %> 
					                 </select> <br/>
					          </div>     
					     </div> 
	        	
            </div>
       
                        <div class="modal-footer">
                            <%= f.submit "Guardar", :class => 'btn btn-success', :controller => 'users_controller', :action =>'funcionario_create' %>
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                        </div>
                    <% end %>
        </div><br/></br>

	  


