<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
	    <div class="center hero-unit">
		   <form class="form-horizontal">
			   <fieldset>
				  <div class="page-header">
					 <div class="row-fluid">
						<div class="span1">  	
					    </div>
					    <div class="span10">
							<div class="well well-small" align="center">
								<h4><%= yield(:title) %></h4>
								  <p>Funcionario</p>
									 <select name="user[id_funcionario]">
									 	 	<option value="1">--Seleccione--</option> 
									 	 <% @funcionarios.each do |funcionario| %>
									       <option value="<%= funcionario.id %>" 
									         <%= 'selected' if funcionario.id == @user.id_funcionario%>>
									         <%= funcionario.nombres %>
									       </option>
									   <% end %> 
		                            </select> 
							      <%= f.label :usuario %>
							      <%= f.text_field :nombre %>
							      <%= f.label :contrasena %>
							      <%= f.password_field :clave %>
							      <%= f.submit "Guardar", class: "btn btn-primary" %>
							 </div>	    
						 </div>
					 </div>
				 </div>
			  </fieldset>
		   </form>	
		</div>
    <% end %>
  </div>
</div>