<div class="span8 offset2" style="margin-top:80px;">
    <%= form_for(@user) do |f| %>
          <%= render 'mensajes/error_mensajes', object: f.object %>
             <legend>Nuevo Usuario</legend>
             <div class="span8">

                  <div class="span2">
						<%= f.label "Usuario (*)" ,class:"label"%>
					    <%= f.text_field :username,class: "span3",:placeholder => "Nuevo Usuario",:maxlength=>"15"%>
					    <%= f.label "Funcionario (*)" ,class:"label"%>
						<div id="collectionfuncionario"> <%=render 'select_funcionarios'%></div>    
						<i class="icon-plus-sign"></i>&nbsp<a data-toggle="modal" href="#funcionario" >Nuevo Funcionario</a> 
                  </div> 
                   <div class="span2 offset1">
						<%= f.label "Contrasena (*)",class:"label" %>
					    <%= f.password_field :password,:placeholder => " Ingrese Contrasena",:maxlength=>"18" %><br/>
                  </div> 
               </div>
        
        <div class="span2 offset2" align="center"><br/>
						<%= f.submit "Guardar", class: "btn btn-primary"%>
						<%= link_to "Cancelar", users_path, class: "btn"%>
				</div>
	</div>	
<% end %>
	    			
	<div class="span2">
      <div id="funcionario" class="modal hide fade in" style="display: none;  " >
          <%= render 'users/ventana_modal'%>
       <div>
    </div> 

	  


