 <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
         <h3>Nuevo Funcionario</h3>
 </div>
 
 <div class="modal-body">
	  <p id="notice"><%= notice %></p>
         <%= form_for@funcionario, remote:true do |f| %>
     		 <%= render 'mensajes/error_mensajes', object: f.object %>
				    <div class="span3">
						<%= f.label "Nombres:",class:"label"%>
						<%= f.text_field :nombres,:placeholder => "Ingrese Nombre",:maxlength=>"50" %><br/>
						<%= f.label "Apellidos:",class:"label"%>
						<%= f.text_field :apellidos,:placeholder => "Ingrese Apellido",:maxlength=>"50"  %><br/>
						<%= f.label "Nro de Documento:",class:"label"%>
						<%= f.text_field :num_identidad,:placeholder => "Ingrese Nº de RUC o CI",:maxlength=>"15" %><br/>
						<%= f.label "Direccion:",class:"label"%>
						<%= f.text_field :direccion,:placeholder => "Ingrese Direccion",:maxlength=>"70"  %><br/>
						<%= f.label "Telefono:",class:"label"%>
					    <%= f.text_field :telefono,:placeholder => "Ingrese Nº de Teléfono",:maxlength=>"15" %><br/>
					    <%= f.label "Estado civil:",class:"label"%>
						<%= f.select(:estado_civil, ['Casado', 'Soltero' ],:prompt=>"Seleccione Estado Civil")%> <br/>
					    <%= f.label "Sexo:",class:"label"%><br/>
						<%= f.select(:sexo, ['M', 'F' ],:prompt=>"Seleccione Sexo",id:"select")%>
						<%= f.label "Localidad:",class:"label"%>
				        <%=f.collection_select :id_localidad,Localidad.find(:all),:id,:nombre,:prompt=>"Seleccione Localidad"%> 
		                <%= f.label "Función:",class:"label"%>
					    <%=f.collection_select :id_funcion,Funcion.find(:all),:id,:nombre,:prompt=>"Seleccione Función",id:"select"%>
			            <%= f.label "Estado Funcionario:",class:"label"%>
			            <%=f.collection_select :id_estado_funcionario,EstadosFuncionario.find(:all),:id,:descripcion,:prompt=>"Seleccione Estado del Funcionario"%>      
			        </div>
</div>
<div class="modal-footer">
       <%= f.submit "Guardar", :class => 'btn btn-success', :controller => 'users_controller', :action =>'funcionario_create' %>
            <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
</div>
<% end %>