  <br/>
  <div align="center">
	<h3> Lista de Usuarios</h3>
	</div>
 <div class="page-header">
	   <div class="container-fluid">
			<table class="table table-bordered">
				<thead>
						<tr>
							<th>Funcionario</th>
							<th>Usuario</th>
							<th>Contraseña</th>
							<th>Acciones</th>
						</tr>
				</thead>
				<tbody>
		            <% @users.each do |user| %>					
						<tr>
							<td><%= user.funcionario.nombres %></td>
							<td><%= user.username %></td>
							<td><%= user.password%></td>
							
							<td><i class="icon-edit" title="editar"></i><%= link_to "editar", edit_user_path(user) %> &nbsp &nbsp &nbsp   
							    		<i class="icon-remove-sign" title="borrar"></i><%= link_to "borrar", user, :confirm => "Desea eliminar el usuario "+ user.username, :method => :delete %>
							</td>
						</tr>
		            <% end %>
				</tbody>
			</table>
			<%=will_paginate %>
	  </div>
	  <div align="center">
	  	<p><%= link_to "Agregar nuevo Usuario", new_user_path %></p>
	  </div>
  </div>

