  <br/>
 <div class="span6 offset3">
  <div align="center">
	<h3> Lista de Usuarios</h3>
	</div>

	   	<div class="mismalinea">
	   		<label class="mismalinea">Filtrar:</label>
		   <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
	    </div>
			<table id="table" class="table table-bordered">
				<thead>
						<tr>
							<th>Funcionario</th>
							<th>Usuario</th>
							<th>Acciones</th>
						</tr>
				</thead>
				<tbody>
		            <% @users.each do |user| %>					
						<tr>
							<td><%= user.funcionario.nombres %></td>
							<td><%= user.username %></td>
							
							<td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_user_path(user) %> &nbsp &nbsp &nbsp   
							    		<i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar", user, :confirm => "Desea eliminar el usuario "+ user.username, :method => :delete %>
							</td>
						</tr>
		            <% end %>
				</tbody>
			</table>
			<%=will_paginate %>
		<div class="span2 offset2">
		  	<i class="icon-plus-sign"></i>&nbsp<%= link_to "Nuevo Usuario", new_user_path %>
		</div>
	  </div>
	  
  </div>

