 <br/>
<% provide(:title, @user.username) %>
<div class="span6 offset3">
	<div align="center">
		<h3>Datos del Usuario </h3><br/>
	</div>

    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Funcionario</th>
				<th>Usuario</th>
				<th>Acciones</th>
			</tr>
		</thead>
	  <tbody>
	  	<tr>
	  		<td><%= @user.funcionario.nombres%></td>
			<td><%= @user.username %></td>
            <td><i class="icon-edit" title="editar"></i><%= link_to "editar", edit_user_path(@user) %> &nbsp &nbsp &nbsp   
			    <i class="icon-remove-sign" title="borrar"></i><%= link_to "borrar", @user, :confirm => "Desea eliminar el usuario "+ @user.username, :method => :delete %>
			</td>
		</tr>
	   </tbody>
  </table>
  	<div align="center">
 		<i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nuevo Usuario', new_user_path %>&nbsp&nbsp
 		<h8> | </h8>&nbsp&nbsp
    	<i class="icon-list-alt"></i>&nbsp<%= link_to 'Volver a la Lista', users_path %>
	<div>	
</div>
  	
   