<div class="centrar-solo-un-componente">
    <%= form_for(@departamento) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
                 <h4><%= yield(:title) %></h4><br/>
				 <div class="mismalinea">
					 <%= f.label "Departamento:",class:"mismalinea"%>
					  <%= f.text_field :nombre,:placeholder => "departamento",class:"mismalinea-espacio",:maxlength=>"35" %>
				</div> 
</div>				
				 <div class="abajo"><br/>
					<%= f.submit "Guardar", class: "btn btn-primary" %>
				</div>

				 <div class="fileupload fileupload-new" data-provides="fileupload">
   
 </div>
						
    <% end %><br/><br/>
