<div class="row">
  <div class="span6 offset3">
    <%= form_for(@departamento) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
	    <div class="center hero-unit">
		   <form class="form-horizontal">
			   <fieldset>
				  <div class="page-header">
					 <div class="row-fluid">
						<div class="span1">  	
					    </div>
					    <div class="span10">
							<div class="well well-small" align="center">
								<h4><%= yield(:title) %></h4>
							      <%= f.label :departamento%>
							      <%= f.text_field :nombre%>
							      

							      <%= f.submit "Guardar", class: "btn btn-primary" %>
							 </div>	    
						 </div>
					 </div>
				 </div>
			  </fieldset>
		   </form>	
		</div>
    <% end %>
  </div>
</div>