<div class="span8 offset2" style="margin-top:80px;">
    <%= form_for(@departamento, :validate => true) do |f| %>
          <%= render 'mensajes/error_mensajes', object: f.object %>
             <legend>Nuevo Departamento</legend>
             <div class="span8">

                  <div class="span3">
						 <%= f.label "Departamento:",class:"label"%>
						 <%= f.text_field :nombre,class: "span3",:placeholder => "Ingrese Departamento",:maxlength=>"35", :onkeypress => "return validarText(event, this)" %>
				  </div> 

               </div>
        
        <div class="span2 offset2" align="center"><br/>
						<%= f.submit "Guardar", class: "btn btn-primary"%>
						<%= link_to "Cancelar", departamentos_path, class: "btn"%>
		</div>
	</div>	
<% end %>

