  <br/>
  <%= form_tag departamentos_path, :method => 'get' do %>
  <div class="span4 offset4">
	  <div align="center">
		<h3> Lista de Departamentos</h3>
		</div>
	   
	     <div class="mismalinea">
	   		<label class="mismalinea">Filtrar:</label>
		   <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
	    </div>
			<table id="table" class="table table-bordered">
				<thead>
						<tr>
							<th>Nombre</th>
							<th>Acciones</th>
						</tr>
				</thead>
				<tbody>
		            <% @departamentos.each  do |departamento| %>					
						<tr>
							<td><%= departamento.nombre %></td>

							<td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_departamento_path(departamento) %> &nbsp &nbsp &nbsp   
							    		<i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar",departamento, :confirm => "Desea eliminar el departamento "+departamento.nombre, :method => :delete %>
							</td>
						</tr>
		            <% end %>
				</tbody>
			</table>
			<%=will_paginate %>
	  
	   <div align="center">
			<i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nuevo Departamento', new_departamento_path %>
	  </div>
</div>
<% end %>	  		
