<br/>
<% provide(:title, @departamento.nombre) %>
<div class="span4 offset4">
	<div align="center">
		<h3>Datos del Departamento </h3><br/>
	</div>

    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</thead>
	  <tbody>
	  	<tr>
			<td><%= @departamento.nombre %></td>
            <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_departamento_path(@departamento) %> &nbsp &nbsp &nbsp   
			    <i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar",@departamento, :confirm => "Desea Eliminar el siguiente departamento: "+ @departamento.nombre, :method => :delete %>
			</td>
		</tr>
	   </tbody>
  </table>
  <div align="center">
     <i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nuevo Departamento', new_departamento_path %>&nbsp&nbsp
     <h8> | </h8>&nbsp&nbsp
     <i class="icon-list-alt"></i>&nbsp<%= link_to 'Volver a la Lista', departamentos_path %>
  </div>
</div>
  

   
