  <%= form_tag configuracions_path, :method => 'get' do %>
    <br/><br/>
    <div align="center">
    <h3> Datos de la Empresa</h3>
    </div>
    <br/>
     <div class="container-fluid">
      
      <table id="table" class="table table-bordered">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>RUC</th>
              <th>Timbrado</th>
              <th>Timbrado Vencimiento</th>
              <th>Telefono</th>
              <th>Celular/Fax</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                <% @configuracions.each  do |c| %>          
            <tr>
              <td><%= c.nombre_empresa %></td>
              <td><%= c.direccion %></td>
              <td><%= c.ruc %></td>
              <td><%= c.timbrado %></td>
              <td><%= c.timbrado_vencimiento%></td>
              <td><%= c.telefono %></td>
              <td><%= c.telefono_auxiliar %></td>
              <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_configuracion_path(c) %> &nbsp &nbsp &nbsp   
              </td>

            </tr>
                <% end %>
                
        </tbody>
      </table>
          <%=will_paginate  %> 
    </div>  
<% end %>