    <div align="center">
    <h3> Datos de la Empresa</h3>
    </div>
    
     <div class="container-fluid">
      
      <table id="table" class="table table-bordered">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>RUC</th>
              <th>Timbrado</th>
              <th>Timbrado Vencimiento</th>
              <th>Telefono</th>
              <th>Celular/Fax</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>          
            <tr>
              <td><%= @configuracion.nombre_empresa %></td>
              <td><%= @configuracion.direccion %></td>
              <td><%= @configuracion.ruc %></td>
              <td><%= @configuracion.timbrado %></td>
              <td><%= @configuracion.timbrado_vencimiento%></td>
              <td><%= @configuracion.telefono %></td>
              <td><%= @configuracion.telefono_auxiliar %></td>
              <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_configuracion_path(@configuracion)%> &nbsp &nbsp &nbsp   
                      
              </td>

            </tr>
                
        </tbody>
      </table>
    </div>
     <div align="center">
      <i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nueva Empresa', conf_new_path %>
      <h8> | </h8>&nbsp&nbsp
      <i class="icon-list-alt"></i>&nbsp<%= link_to 'Volver a la Lista', configuracions_path %>
    </div>    

