<br/>
    <div align="center">
    <h3> Lista de Productos en el Stock</h3>
    </div>
    
     <div class="container-fluid">
      <table id="table" class="table table-bordered">
        <thead>
            <tr>
              <th>Fecha</th>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Cantidad Minima</th>
              <th>Cantidad Stock </th>
              <th>Cantidad Optima</th>
              <th>Tipo Movimiento</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>   
        <% @detalles_movimientos_stocks.each do |detalle_movimiento_stock| %>     
            <tr>
              <td><%= detalle_movimiento_stock.movimiento_stock.fecha%></td>
              <td><%= detalle_movimiento_stock.stock.producto.descripcion%></td>
              <td><%= detalle_movimiento_stock.cantidad %></td>
              <td><%= detalle_movimiento_stock.stock.producto.cant_minima%></td>
              <td><%= detalle_movimiento_stock.stock.cantidad %></td>
              <td><%= detalle_movimiento_stock.stock.producto.cant_optima %></td>
              <td><%= detalle_movimiento_stock.movimiento_stock.tipo_movimiento.descripcion %></td>
               <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_detalle_movimiento_stock_path(detalle_movimiento_stock) %> &nbsp &nbsp &nbsp   
                    <i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar", detalle_movimiento_stock, :confirm => "Desea eliminar el producto: "+detalle_movimiento_stock.stock.producto.descripcion, :method => :delete, remote: true %>
              </td>
            <% end %>  
            </tr>         
        </tbody>
      </table>
    </div>
     <div align="center">
      <i class="icon-plus-sign"></i><%= link_to 'Nuevo Movimiento Stock', new_movimiento_stock_path %>&nbsp&nbsp
    <h8> | </h8>&nbsp&nbsp
    <i class="icon-list-alt"></i>&nbsp<%= link_to 'Ir a la Lista', movimientos_stocks_path %>


    </div> 




