<div class="row">
  <div class="span6 offset3">
    <%= form_for(@cliente) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
	    <div class="center hero-unit">
		   <form class="form-horizontal">
			   <fieldset>
				  <div class="page-header">
					 <div class="row-fluid">
						<div class="span1">  	
					    </div>
					    <div class="span10">
							<div class="well well-small" align="center">
								<h4><%= yield(:title) %></h4>
							      <%= f.label :nombre%>
							      <%= f.text_field :nombre,:placeholder => "nombre" %>
							      <%= f.label :apellido%>
							      <%= f.text_field :apellido,:placeholder => "apellido"  %>
							      <%= f.label :Nro_de_doc%>
							      <%= f.text_field :num_identidad,:placeholder => "num_documento" %>
							      <%= f.label :direccion%>
							      <%= f.text_field :direccion,:placeholder => "direccion"  %>
							      <%= f.label :telefono%>
							      <%= f.text_field :telefono,:placeholder => "telefono"  %>
							       <label>Sexo</label>
									 <select name="cliente[sexo]">
									 	<option value="1">--Seleccione--</option> 
                                        <option value="M">Masculino</option> 
                                        <option value="F">Femenino</option> 
                                     </select>  
							      <label>Localidades</label>
		                          	 <select name="cliente[id_localidad]">
									 	<option value="1">--Seleccione--</option> 
									   <% @localidades.each do |localidad| %>
									       <option value="<%= localidad.id %>" 
									         <%= 'selected' if localidad.id == @cliente.id_localidad%>>
									         <%= localidad.nombre %>
									       </option>
									   <% end %>
									  </select> <br/>
							      <%= f.submit "Guardar", class: "btn btn-primary" %>
							 </div>	    
						 </div>
					 </div>
				 </div>
			  </fieldset>
		   </form>	
		</div>
    <% end %>
  </div>
</div>