<div class="span8 offset2" style="margin-top:80px;">	
		<%= form_for @cliente,:validate => true do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>	
			<legend>Nuevo Cliente</legend>
			<div class="span8">
               
                   <div class="span3">
				        <%= f.label "Nombre (*)",class:"label"%>
					    <%= f.text_field :nombre,:id=>"txt_nombres",class: "span3", :placeholder => "Ingrese Nombre", :maxlength=>"25"%>
					    <%= f.label "RUC/Nro CI (*)",class:"label"%>
						<%= f.text_field :num_identidad ,class: "span3" ,:placeholder => "Ingrese Nº de RUC o CI",:maxlength=>"10" %>
						<%= f.label "Telefono ",class:"label"%>
					    <%= f.text_field :telefono ,class: "span3" , :placeholder => "xxx xxxxxx o xxxx xxxxx" ,:maxlength=>"15" %>
						<%= f.label "Localidad (*)",class:"label"%>
					    <div id="collectionlocalidad"> <%=render 'select_localidades'%></div>
			       			<i class="icon-plus-sign" title="editar"></i>&nbsp<a data-toggle="modal" href="#localidad" >Nueva Localidad</a>
                    </div>
					<div class="span3">
					     <%= f.label "Apellido  (*)",class:"label"%>
					 	 <%= f.text_field :apellido ,class: "span3" ,:placeholder => "Ingrese Apellido",:maxlength=>"25" %>
					 	 <%= f.label "Direccion  (*)",class:"label"%>
                         <%= f.text_field :direccion ,class: "span3" ,:placeholder => "Ingrese Direccion",:maxlength=>"35"  %>
					     <%= f.label "Sexo  (*)",class:"label"%><br/> 
						 <%= f.select(:sexo, ['M', 'F' ], id:"select", class: "span3")%>
					</div>
					
				</div>	
				<div class="span2 offset3" align="center"><br/>
						<%= f.submit "Guardar", class: "btn btn-primary"%>
						<%= link_to "Cancelar", clientes_path, class: "btn"%>
				</div>
	</div>	
<% end %>
	    			
	<div class="span2">
      <div id="localidad" class="modal hide fade in" style="display: none;">
        	 <%=render 'clientes/ventana_modal'%>
       <div>
    </div> 
     
