<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
        <h3>Nueva Localidad</h3>
</div>

<div class="modal-body">
         <p id="notice"><%= notice %></p>
         <%= form_for@localidad, remote:true do |f| %>
     		 <%= render 'mensajes/error_mensajes', object: f.object %>

  			<div class="span1">
  					<%= f.label "Localidad:",class:"label"%>
  					<%= f.text_field :nombre,:placeholder => "Ingrese Nueva Localidad",:maxlength=>"35" %> 
  			    <%= f.label "Departamento:",class:"label"%>
  			    <%=f.collection_select :id_departamento,Departamento.find(:all),:id,:nombre,:prompt=>"Seleccione Departamento"%>  
  			</div>    
 </div>	

 <div class="modal-footer">
         <%= f.submit "Guardar", :class => 'btn btn-success'%>
         <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
 </div> 

 <% end %>