<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Nueva Localidad</h3>
</div>

<div class="modal-body">
         <p id="error" class="error"></p>
         <%= form_for@localidad, :remote => true do |f| %>
        <div class="span1">
            <%= f.label "Localidad (*)",class:"label"%>
            <%= f.text_field :nombre,class: "span3",:placeholder => "Ingrese Nueva Localidad",:maxlength=>"35", :onkeypress => "return validarText(event, this)" %> 
            <%= f.label "Departamento (*)",class:"label"%>
            <%=f.collection_select :id_departamento,Departamento.find(:all),:id,:nombre%>  
        </div>    
 </div> 

 <div class="modal-footer">
         <%= f.submit "Guardar", :class => 'btn btn-success'%>
         <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
 </div> 

 <% end %>
