<br/>
<% provide(:title, @cliente.nombre) %>
<div align="center">
	<h3>Datos del Cliente </h3><br/>
</div>
<div class="container-fluid">
    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>RUC/Nro CI</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Sexo</th>
				<th>Localidad</th>
				<th>Acciones</th>
			</tr>
		</thead>
	  <tbody>
	  	<tr>
			<td><%= @cliente.nombre %></td>
			<td><%= @cliente.apellido%></td>
			<td><%= @cliente.num_identidad%></td>
			<td><%= @cliente.direccion%></td>
			<td><%= @cliente.telefono %></td>
			<td><%= @cliente.sexo %></td>
			<td><%= @cliente.localidad.nombre %></td>
            <td><i class="icon-edit" title="editar"></i><%= link_to "editar", edit_cliente_path(@cliente) %> &nbsp &nbsp &nbsp   
			    <i class="icon-remove-sign" title="borrar"></i><%= link_to "borrar",@cliente, :confirm => "Desea Eliminar el cliente "+ @cliente.nombre, :method => :delete %>
			</td>
		</tr>
	   </tbody>
  </table>
  </div>
  <div align="center">
     <%= link_to '(+) Nuevo Cliente', new_cliente_path %>
   </div>

   
