<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
           <% if current_user %>
             <li><%= link_to "Home" ,paginas_estaticas_path%></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Usuario <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nuevo Usuario",new_user_path %></li>
                <li><%= link_to "Lista de Usuarios",users_path  %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Cliente <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nuevo Cliente", new_cliente_path %></li>
                <li><%= link_to "Lista de Clientes",clientes_path  %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Funcionario <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nuevo Funcionario", new_funcionario_path %></li>
                <li><%= link_to "Lista de Funcionarios",funcionarios_path  %></li>
               </ul>
             </li>
             <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Facturacion <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nueva Factura", new_factura_ventum_path %></li>
                <li><%= link_to "Lista de Facturas",funcionarios_path  %></li>
               </ul>
             </li>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 Producto<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nuevo Producto", new_producto_path %></li>
                <li><%= link_to "Lista de Productos",productos_path  %></li>
               </ul>
             </li>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Localidad<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nueva Localidad", new_localidad_path %></li>
                <li><%= link_to "Lista de Localidades",localidads_path  %></li>
               </ul>
             </li>
             <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Departamento<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Nuevo Departamento", new_departamento_path %></li>
                <li><%= link_to "Lista de Departamentos",departamentos_path  %></li>
               </ul>
             </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Cerrar Sesion", logout_path, method: "delete" %>
                </li>
          <% else %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>