<!DOCTYPE html>
<html>
<head>
  <title>Ventas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application",:default=>true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true
        });

       var buscarEnTabla = function() {
        var table = $('#table');
        var value = this.value;
        table.find('tr').each(function(index, row) {
            var allCells = $(row).find('td');
            if(allCells.length > 0) {
                var found = false;
                allCells.each(function(index, td) {
                    var regExp = new RegExp(value, 'i');
                    if(regExp.test($(td).text())) {
                        found = true;
                        return false;
                    }
                });
                if (found == true) $(row).show();
                else $(row).hide();
            }
        });
    };
     
    $(function(){
        $('#filtrar').keyup(buscarEnTabla);
    });
 });
    
  </script>
</head>
<body>

  <br/><br/>
	  <%= render 'layouts/header' %>
    
	     <%= yield %>
	
</body>
</html>
