<div class="span13">
<fieldset>
    <legend>
      Logo de Auditoria
    </legend>
    <%= form_tag :action => 'index', :controller => 'auditorias', :method => :post do%>

    <% end %>
  </fieldset>

<div class="span12">
  <table id="my-table" class="table table-bordered">
      <thead class="table-title">  
      <tr>
        <th class="span3">Fecha</th>
        <th class="span1">Nivel</th>
        <th class="span8">Log</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @objects.each_with_index do |array, i| %>
        <% id = "page-" + i.to_s %>

          <td class="span3">  <%= array[1] %> </td>
          <td class="span1">  <%= array[2] %>  </td>
          <td class="span8">  <%= array[3] %>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @objects.size > 9 %>
    <div id="selector"></div>
  <% end %>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
      test(0);
    });
    $('#selector').pagination({
        items: <%= @objects.size %>,
        itemsOnPage: 10,
        cssStyle: 'light-theme',
        onPageClick: function(pageNumber){test(((pageNumber-1)*10))}
    });
</script>