<fieldset>
    <legend>
      Log de Auditoria
    </legend>
    <%= form_tag :action => 'index', :controller => 'auditorias', :method => :post do%>
      <div class="span5">
          <div>
            <li>
              <%= label_tag :from, 'From' %>
              <%= text_field_tag :from, '', id: :from, :size => '20'%>
            </li>     
          </div>
      </div>
      <div class="span5">
          <div>
            <li>
              <%= label_tag :to, "To" %>
              <%= text_field_tag :to, '', id: :to, :size => '20'%>
            </li> 
          </div>
      </div>
    <% end %>
  </fieldset>

<div class="row">
  <table id="my-table" class="table table-bordered">
      <thead class="table-title">  
      <tr>
        <th>Fecha</th>
        <th>Nivel</th>
        <th>Log</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @objects.each do |array| %>
          <td>  <%= array[1] %> </td>
          <td>  <%= array[2] %>  </td>
          <td>  <%= array[3] %>  </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $("input#from,input#to").datepicker({
      altField: $(this).attr("id"),
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      monthNamesShort: ['Ene','Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul',
        'Ago', 'Set', 'Oct', 'Nov', 'Dic'],
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mie', 'Ju', 'Vie', 'Sa'],
      gotoCurrent: true,
      yearRange: '1900:2040'

    });
    // place holder para fechas
    $("input#from,input#to").attr({
      'placeholder':'(dd-mm-aaaa)...',
      'size':'12',
      'maxlength':'12'
    });
  });
  
  
  
</script>