<div class="centrar">
    <%= form_for(@localidad) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
	        <h4><%= yield(:title) %></h4><br/>
	         <div class="mismalinea">
				 <%= f.label "Localidad:",class:"mismalinea"%>
				 <%= f.text_field :nombre,:placeholder => "localidad",class:"mismalinea-espacio",:maxlength=>"35" %>
		     </div>
		     <div class="mismalinea-espacio-grande">		 
                 <label class="mismalinea">Departamento:</label>
                 <div class="mismalinea-espacio">
		              <select name="localidad[id_departamento]" class="selectpicker">
						 <option value="1">--Seleccione--</option> 
							 <% @departamentos.each do |departamento| %>
								 <option value="<%= departamento.id %>" 
									    <%= 'selected' if departamento.id == @localidad.id_departamento%>><%= departamento.nombre %>
								  </option>
							  <% end %>
				       </select><br/>
				  </div> 
				  <a data-toggle="modal" href="#departamento" ><label  class="mismalinea-espacio">Nuevo Departamento </label></a> 	   
			 </div>	  
</div>			 
			 <div class="abajo"><br/>    
				<%= f.submit "Guardar", class: "btn btn-primary" %>
             </div>
							
    <% end %>
    <div id="departamento" class="modal hide fade in" style="display: none;  " >
           <div class="modal-header">
               <a class="close" data-dismiss="modal">×</a>
                   <h3>Nuevo Departamento</h3>
           </div>
           <div class="modal-body">
               <p id="notice"><%= notice %></p>
                 
                    <%= form_for(@departamento) do |f| %>
   		                <%= render 'mensajes/error_mensajes', object: f.object %>
						    <div class="mismalinea">
									 <%= f.label "Departamento:",class:"mismalinea"%>
									  <%= f.text_field :nombre,:placeholder => "departamento",class:"mismalinea-espacio",:maxlength=>"35" %>
				             </div> 
            </div>
             <div class="modal-footer">
                  <%= f.submit "Guardar", :class => 'btn btn-success', :controller => 'localidads_controller', :action =>'departamento_create' %>
                   <a href="#" class="btn" data-dismiss="modal">Close</a>
               </div>
                    <% end %>
        </div><br/></br>
     
    
