<div class="span8 offset2" style="margin-top:80px;">
    <%= form_for @localidad, :validate => true do |f| %>
          <%= render 'mensajes/error_mensajes', object: f.object %>
             <legend>Nueva Localidad</legend>
             <div class="span8">

                  <div class="span2">
						          <%= f.label "Localidad (*)",class:"label"%>
						          <%= f.text_field :nombre,class: "span3",:placeholder => "Ingrese Localidad",:maxlength=>"35" %>	
	                    <%= f.label "Departamento (*)",class:"label"%>
	                	   <div id="collectiondepartamento"> <%=render 'select_departamentos'%></div>
					            <i class="icon-plus-sign"></i>&nbsp<a data-toggle="modal" href="#departamento" > Nuevo Departamento</a>
                  </div> 

               </div>
        
        <div class="span2 offset3" align="center"><br/>
						<%= f.submit "Guardar", class: "btn btn-primary"%>
						<%= link_to "Cancelar", localidads_path, class: "btn"%>
				</div>
	</div>	
<% end %>
	    			
	<div class="span2">
      <div id="departamento" class="modal hide fade in" style="display: none;">
        	 <%=render 'localidads/ventana_modal'%>
       <div>
    </div> 
     
   



     
    
