<div class="row">
  <div class="span6 offset3">
    <%= form_for(@localidad) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
	    <div class="center hero-unit">
		   <form class="form-horizontal">
			   <fieldset>
				  <div class="page-header">
					 <div class="row-fluid">
						<div class="span1">  	
					    </div>
					    <div class="span10">
							<div class="well well-small" align="center">
								<h4><%= yield(:title) %></h4>
							      <%= f.label :localidad%>
							      <%= f.text_field :nombre%>
							      <p>Departamentos</p>
		                          	 <select name="localidad[id_departamento]">
									 	<option value="1">--Seleccione--</option> 
									   <% @departamentos.each do |departamento| %>
									       <option value="<%= departamento.id %>" 
									         <%= 'selected' if departamento.id == @localidad.id_departamento%>>
									         <%= departamento.nombre %>
									       </option>
									   <% end %>
									   
									  </select> <br/>
							      <%= f.submit "Guardar", class: "btn btn-primary" %>
							 </div>	    
						 </div>
					 </div>
				 </div>
			  </fieldset>
		   </form>	
		</div>
    <% end %>
  </div>
</div>