  <label id="alert-destroy" class="alert alert-error span8 offset2" style="display: none; margin-top:10px;"></label>

  <br/>
  <%= form_tag localidads_path, :method => 'get' do %>
  <div class="span8 offset2">
  <div align="center">
	<h3> Lista de Localidades</h3>
	</div>
   
   	   <div class="mismalinea">
	   		<label class="mismalinea">Filtrar:</label>
		   <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
	    </div>
		<table id="table" class="table table-bordered">
			<thead>
					<tr>
						<th>Nombre</th>
						<th>Departamento</th>
						<th>Acciones</th>
					</tr>
			</thead>
			<tbody>
	            <% @localidads.each  do |localidad| %>					
					<tr>
						<td><%= localidad.nombre %></td>
			            <td><%= localidad.departamento.nombre %></td>
						<td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_localidad_path(localidad) %> &nbsp &nbsp &nbsp   
						    		<i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar",localidad, :confirm => "Desea eliminar la siguiente localidad:"+localidad.nombre, :method => :delete, remote: true %>
						</td>
					</tr>
	            <% end %>
			</tbody>
		</table>
		<%=will_paginate %>
		<div align="center">
		<i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nueva Localidad', new_localidad_path %>
  </div>
  </div>
   		
  <% end %>
<script type="text/javascript">
	function cerrar(){
		$("#alert-destroy").hide();

	}
</script>