<br/>
<% provide(:title, @localidad.nombre) %>
<div class="span8 offset2">
	<div align="center">
		<h3>Datos de la Localidad </h3><br/>
	</div>

    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Departamento</th>
				<th>Acciones</th>
			</tr>
		</thead>
	  <tbody>
	  	<tr>
			<td><%= @localidad.nombre %></td>
			<td><%= @localidad.departamento.nombre %></td>
            <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_localidad_path(@localidad) %> &nbsp &nbsp &nbsp   
			    
			</td>
		</tr>
	   </tbody>
  </table>
  <div align="center">
     <i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nueva Localidad', new_localidad_path %>&nbsp&nbsp
     <h8> | </h8>&nbsp&nbsp
     <i class="icon-list-alt"></i>&nbsp<%= link_to 'Ir a la Lista', localidads_path %>
   </div>
  </div>
  

   
