<div class="row">
		<%= form_tag sesiones_path do %>
		<div class="hero-unit">
		    <form class="form-horizontal">
		         <fieldset>
				    <div class="page-header">
						 <div class="row-fluid">
							  <div class="span1">  	
						      </div>
							  <div class="span10">
								  <div class="well well-small" align="center">
								  	<h3>LOGIN</h3>
								 <div class="field">
										<%= label_tag :usuario %>
										<%= text_field_tag :username, params[:username],:placeholder => "usuario"  %>
									  </div>
									  <div class="field">
										<%= label_tag :contrasena %>
										<%= password_field_tag :password %>
									 </div>
		                            <div class="actions"><%= submit_tag "Login", class: "btn btn-primary" %></div>
		                             <label>Nuevo Usuario? <%= link_to "Sign up now!", signup_path %></label>
		                           </div>	    
					          </div>
					     </div>
					</div>
				</fieldset>
			</form>	
	    </div>
		
		<% end %>
	</div>
