 <div class="container"><br/>
    <%= form_for @detalle_factura_ventum do |f| %>
        <%= render 'mensajes/error_mensajes', object: f.object %>
            <%= f.hidden_field :id_factura_venta%>
                <div class="span3">
                    <label class="label">Producto:</label>
                    <%= f.hidden_field :id_producto %>
                    <%= f.text_field " " ,:value=>@producto,:disabled=>true %>
                </div>  
                <div class="span3 offset1">
                    <label class="label">Cantidad:</label>
                    <%=f.text_field :cantidad%>
                </div> 
                <div class="span3 offset1">  
                    <label class="label">Descuento:</label>
                    <%= f.text_field :descuento %>
                </div>      
                                
 </div>
    <div class="span3 offset4" align="center"><br/><br/>
        <%= f.submit "Guardar", :class => 'btn btn-success',:method => :update%>
    </div> 
            <% end %>  <br/><br/>           

