 <div class="centrar">
    <%= form_for(@factura_ventum) do |f| %>
       <%= render 'mensajes/error_mensajes', object: f.object %>
          <h4><%= yield(:title) %></h4><br/>
              <div class="mismalinea">
                 <%= f.label :fecha,class:"mismalinea"%>
                 <%= f.text_field :fecha,:value => Date.today,:readonly => true,class:"mismalinea-espacio"%>
             </div>
             <div class="mismalinea-espacio-grande">
                 <%= f.label :Nro_de_Factura,class:"mismalinea"%>
                 <%= f.text_field :nro_factura,:readonly => true ,class:"mismalinea-espacio"%>
             </div><br/><br/><br/>    
              <div class="mismalinea">
                  <%= f.label :funcionario,class:"mismalinea"%>
                  <%= f.text_field :id_funcionario,:text=>current_user.funcionario.nombres + " " + current_user.funcionario.apellidos,:value => current_user.funcionario.id,:readonly => true,class:"mismalinea-espacio" %>
              </div>    
              <div class="mismalinea-espacio-grande">
                 <label class="mismalinea">Clientes</label>
                 <div class="mismalinea-espacio">
                      <select name="factura_ventum[id_cliente]" class="selectpicker">
                          <option value="1">--Seleccione--</option> 
                              <% @clientes.each do |cliente| %>
                                  <option value="<%= cliente.id %>" 
                                      <%= 'selected' if cliente.id == @factura_ventum.id_cliente%>> <%= cliente.nombre %>
                                   </option>
                             <% end %>
                    </select> <br/>
                  </div>
                </div>  <br/><br/><br/>  
                <div class="mismalinea">
                    <label class="mismalinea">Condicion de pago</label>
                    <div class="mismalinea-espacio">
                          <select name="factura_ventum[id_condicion_pago]" class="selectpicker">
                              <option value="1">--Seleccione--</option> 
                                  <% @condiciones_de_pagos.each do |condicion_de_pago| %>
                                       <option value="<%= condicion_de_pago.id %>" 
                                          <%= 'selected' if condicion_de_pago.id == @factura_ventum.id_condicion_pago%>>
                                           <%= condicion_de_pago.nombre_condicion_de_pago %>
                                       </option>
                                  <% end %>
                            </select> <br/>
                     </div>     
                  </div> 
                  <div class="mismalinea-espacio-grande">         
                     <label class="mismalinea">Tipo de Valor</label>
                     <div class="mismalinea-espacio">
                          <select name="factura_ventum[id_tipo_valor]" class="selectpicker">
                               <option value="1">--Seleccione--</option> 
                                  <% @tipos_de_valores.each do |tipo_de_valor| %>
                                      <option value="<%= tipo_de_valor.id %>" 
                                         <%= 'selected' if tipo_de_valor.id == @factura_ventum.id_tipo_valor%>>
                                           <%= tipo_de_valor.descripcion%>
                                </option>
                                    <% end %>
                           </select> <br/>
                     </div>      
                  </div><br/><br/><br/>
                  <div class="mismalinea">
                     <%= f.label :descuento,class:"mismalinea"%>
                     <%= f.text_field :total_descuento ,:value => FacturaVentum.descuento(100),:readonly => true,class:"mismalinea-espacio" %>
                   </div>  
                   <div class="mismalinea-espacio-grande">
                       <%= f.label :Total_Iva_5,class:"mismalinea"%>
                       <%= f.text_field :total_iva5,:value => FacturaVentum.factura_total_iva5(100),:readonly => true,class:"mismalinea-espacio" %>
                    </div>  <br/><br/><br/> 
                   <div class="mismalinea">   
                      <%= f.label :Total_Iva_10,class:"mismalinea"%>
                      <%= f.text_field :total_iva10,:value => FacturaVentum.factura_total_iva10(100),:readonly => true,class:"mismalinea-espacio" %>
                   </div>   
                   <div class="mismalinea-espacio-grande">
                     <%= f.label :Total_Iva,class:"mismalinea"%>
                     <%= f.text_field :total_iva,:value => FacturaVentum.factura_total_iva(100),:readonly => true,class:"mismalinea-espacio" %>
                   </div>  
                      <a data-toggle="modal" href="#producto" ><label>Cargar Producto </label></a>     
       </div>
                   <div class="abajo"><br/>
                      <%= f.submit "Guardar", class: "btn btn-primary"%>
                  </div>                  
    <% end %>

                    <div id="producto" class="modal hide fade in" style="display: none; ">
                          <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>Ingresar Producto</h3>
                        </div>
                        <div align="center">
                          <div class="modal-body">
                              <p id="notice"><%= notice %></p>
                              <%= form_for @detalle_factura_venta do |g| %>
                                 <%= render 'mensajes/error_mensajes', object: g.object %>
                                 <label>Producto</label>
                                   <select name="detalle_factura_venta[id_producto]">
                                      <option value="1">--Seleccione--</option> 
                                       <% @productos.each do |producto| %>
                                           <option value="<%= producto.id %>" 
                                             <%= 'selected' if producto.id == @detalle_factura_venta.id_producto%>>
                                             <%= producto.descripcion %>
                                           </option>
                                      <% end %>>
                                      </select> 
                                      <%= g.label :cantidad %>
                                      <%= g.text_field :cantidad %>
                                      <%= g.label :descuento %>
                                      <%= g.text_field :descuento %>
            
                          </div>
                         </div>
                        <div class="modal-footer">
                            <%= g.submit "Guardar", :class => 'btn btn-success', :controller => 'factura_venta_controller', :action =>'detalle_factura_venta_create' %>
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                        </div>
                            <% end %>
                   </div> <br/><br/>
               
