<div class="row">
  <div class="span6 offset3">
    <%= form_for(@factura_ventum) do |f| %>
       <%= render 'mensajes/error_mensajes', object: f.object %>
      <div class="center hero-unit">
       <form class="form-horizontal">
         <fieldset>
          <div class="page-header">
           <div class="row-fluid">
            <div class="span1">   
              </div>
              <div class="span10">
              <div class="well well-small" align="center">
                <h4><%= yield(:title) %></h4>
                    <%= f.label :fecha%>
                    <%= f.text_field :fecha,:value => Date.today,:disabled=>true%>
                    <%= f.label :Nro_de_Factura%>
                    <%= f.text_field :nro_factura,:value => FacturaVentum.obtener_nro_factura(),:disabled=>true %>
                   <%= f.label :Funcionario%>
                    <%= f.text_field :nro_factura,:value => FacturaVentum.obtener_nro_factura(),:disabled=>true %>
                    <label>Clientes</label>
                                 <select name="factura_ventum[id_cliente]">
                    <option value="1">--Seleccione--</option> 
                     <% @clientes.each do |cliente| %>
                         <option value="<%= cliente.id %>" 
                           <%= 'selected' if cliente.id == @factura_ventum.id_cliente%>>
                           <%= cliente.nombre %>
                         </option>
                     <% end %>
                    </select> <br/>
                    <label>Condicion de pago</label>
                                 <select name="factura_ventum[id_condicion_pago]">
                    <option value="1">--Seleccione--</option> 
                     <% @condiciones_de_pagos.each do |condicion_de_pago| %>
                         <option value="<%= condicion_de_pago.id %>" 
                           <%= 'selected' if condicion_de_pago.id == @factura_ventum.id_condicion_pago%>>
                           <%= condicion_de_pago.nombre_condicion_de_pago %>
                         </option>
                     <% end %>
                    </select> <br/>
                     <label>Tipo de Valor</label>
                                 <select name="factura_ventum[id_tipo_valor]">
                    <option value="1">--Seleccione--</option> 
                     <% @tipos_de_valores.each do |tipo_de_valor| %>
                         <option value="<%= tipo_de_valor.id %>" 
                           <%= 'selected' if tipo_de_valor.id == @factura_ventum.id_tipo_valor%>>
                           <%= tipo_de_valor.descripcion%>
                         </option>
                     <% end %>
                    </select> <br/>
                     <a data-toggle="modal" href="#producto" >Cargar Producto</a>
                    <div id="producto" class="modal hide fade in" style="display: none; ">
                          <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>Ingresar Producto</h3>
                        </div>
                        <div class="modal-body">
                            <p id="notice"><%= notice %></p>
                            <%= form_for(@detalle_factura_venta) do |f| %>
                              <%= render 'shared/error_messages', object: f.object %>
                               <label>Clientes</label>
                                 <select name="detalle_factura_venta[id_producto]">
                                    <option value="1">--Seleccione--</option> 
                                     <% @productos.each do |producto| %>
                                         <option value="<%= producto.id %>" 
                                           <%= 'selected' if producto.id == @detalle_factura_venta.id_producto%>>
                                           <%= producto.descripcion %>
                                         </option>
                                    <% end %>
                                    <%= f.label :cantidad %><br />
                                    <%= f.text_field :cantidad %>
                                    <%= f.label :descuento %><br />
                                    <%= f.text_field :decuento %>
          
                        </div>
                        <div class="modal-footer">
                            <%= f.submit :class => 'btn btn-success', :controller => 'factura_venta_controller', :action =>'detalle_factura_venta_create' %>
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                        </div>
                            <% end %>
                   </div>
                    <%= f.submit "Guardar", class: "btn btn-primary" %>
               </div>     
             </div>
           </div>
         </div>
        </fieldset>
       </form>  
    </div>
    <% end %>
  </div>
</div>