<div class="mover">

    <%= form_for@factura_ventum do |f| %>
       <%= render 'mensajes/error_mensajes', object: f.object %>
          <legend class="span10">Nueva Factura </legend><br/>
           <div class="container">
              <div class= "span11" id="cabecera">
                <!--<div class="row">-->
                  <div class="span2" style="margin-top:30px;">
                     <%= f.label :Nro_de_Factura,class:"label"%>
                     <%= f.text_field :nro_factura,:readonly => true,:value=>FacturaVentum.actual_nro_factura()%><br/>
                     <%= f.label :fecha,class:"label"%><br/>
                     <%= f.text_field :fecha,:value => Date.today,:readonly => true%>
                  </div>
                  <div class="span2 offset1" style="margin-top:30px; margin-right:20px;">
                       <%= f.label "Clientes:",class:"label"%>
                       <%= f.autocomplete_field :id_cliente,autocomplete_cliente_nombre_factura_venta_path,:id_element=>"#cliente_id"%>
                        <%= f.hidden_field :id_cliente,id:"cliente_id"%>
                       <a data-toggle="modal" href="#cliente" ><label>(+)Nuevo Cliente </label></a>
                        <%= f.label "Condicion de Pago:",class:"label"%>
                        <%=f.collection_select :id_condicion_pago,CondicionDePago.find(:all),:id,:nombre_condicion_de_pago,id:"select",:selected => 1,:disabled => true%>
                  </div>   
                  <div class="span2 offset1" style="margin-top:30px;">
                     <%= f.label "Funcionario:",class:"label"%>
                     <%= f.label current_user.funcionario.nombres+" " + current_user.funcionario.apellidos %> 
                     <%= f.hidden_field :id_funcionario,:value =>current_user.funcionario.id,:readonly => true %> 
                      <%= f.label "Tipo de Valor:",class:"label"%>
                      <%=f.collection_select :id_tipo_valor,TipoValorPago.find(:all),:id,:descripcion,:selected => 1,:disabled => true,id:"select"%>
                  </div> 
                </div>
                <div class="span11">
                    <div id="lista_productos">
                      <%=render 'factura_venta/lista_productos'%>
                    </div>   
              </div>  
              <div class = "span11"> 
                  <div align="center">
                     <div class="abajo"><br/>    
                       <a style='cursor: pointer;' onclick="muestra_oculta('producto')">Cargar Producto</a>
                  </div>  
                  <div id="producto" style="display: none;">
                      <%=render 'factura_venta/producto'%>
                  </div>
                 <div class="span11" id="cabecera" style="margin-left:0px;"><br/> <br/>
                          <%=render 'factura_venta/totales_ivas'%>
                 </div>        
              
         
  </div>                
          <div class="span2 offset9"><br/>
                <%= f.submit "Guardar", class: "btn btn-primary"%>
                <%= link_to "Cancelar",class: "btn",:method=>:delete%>
          </div> 
        </div>    
         
        <% end %>
        
         <div id="cliente" class="modal hide fade in" style="display: none; " >
           <%=render 'factura_venta/ventana_modal'%>
         <div>
          