<div class="mover">

    <%= form_for@factura_ventum, remote:true do |f| %>
       <%= render 'mensajes/error_mensajes', object: f.object %>
          <h4><%= yield(:title) %></h4><br/>
           <div class="container">
              <div class="row">
                <div class="span3">
                   <%= f.label :Nro_de_Factura,class:"label"%>
                   <%= f.text_field :nro_factura,:readonly => true,:value=>FacturaVentum.nro_factura()%><br/>
                   <%= f.label :fecha,class:"label"%><br/>
                   <%= f.text_field :fecha,:value => Date.today,:readonly => true%>
                   
                </div>
                <div class="span3 offset1">
                     <%= f.label "Clientes:",class:"label"%>
                     <%= f.autocomplete_field :id_cliente, autocomplete_clientes_nombre_factura_venta_path,:id_element => '#id'%>
                      <%=f.collection_select :id_cliente,Cliente.find(:all),:id,:nombre,:prompt=>"--Seleccione--",id:"select"%>
                     <%=f.collection_select :id_cliente,Cliente.find(:all),:id,:nombre,:prompt=>"--Seleccione--",id:"select"%>
                     <a data-toggle="modal" href="#cliente" ><label>Nuevo Cliente </label></a>
                      <%= f.label "Condicion de Pago:",class:"label"%>
                      <%=f.collection_select :id_condicion_pago,CondicionDePago.find(:all),:id,:nombre_condicion_de_pago,:prompt=>"--Seleccione--",id:"select"%>
                </div>   
                <div class="span3 offset2">
                   <%= f.label :funcionario,class:"label"%>
                   <%= f.text_field :id_funcionario,:text=>current_user.funcionario.nombres + " " + current_user.funcionario.apellidos,:value =>current_user.funcionario.nombres + " " + current_user.funcionario.apellidos,:readonly => true %> 
                    <%= f.label "Tipo de Valor:",class:"label"%>
                    <%=f.collection_select :id_tipo_valor,TipoValorPago.find(:all),:id,:descripcion,:prompt=>"--Seleccione--",id:"select"%>
                </div> 
                <div id="lista_productos">
                    <%= render 'factura_venta/lista_productos'%>
                </div>   
              </div>   
                 <div align="center">
                     <div class="abajo"><br/>    
                      <a onclick="muestra_oculta('producto')" ><%= f.label "Cargar Producto"%></a>
                    </div>  

                 </div> 
                 <div id="producto" style="display: none; ">
                       <%= render 'factura_venta/producto'%>
                 </div> <br/>
                 <div class="abajo-factura">
                       <%= f.label :descuento,class:"label"%>
                       <%= f.text_field :total_descuento ,:value => FacturaVentum.descuento(100),:readonly => true %>  
                       <%= f.label :Total_Iva_5,class:"label"%>
                       <%= f.text_field :total_iva5,:value => FacturaVentum.factura_total_iva5(100),:readonly => true %>
                       <%= f.label :Total_Iva_10,class:"label"%>
                       <%= f.text_field :total_iva10,:value => FacturaVentum.factura_total_iva10(100),:readonly => true %>
                       <%= f.label :Total_Iva,class:"label"%>
                       <%= f.text_field :total_iva,:value => FacturaVentum.factura_total_iva(100),:readonly => true %> 
                 </div>        
              
         
  </div>                
          <div class="abajo"><br/>
                <%= f.submit "Guardar", class: "btn btn-primary"%>
          </div> 
        </div>    
        <% end %>   
         <div id="cliente" class="modal hide fade in" style="display: none;  " >
           <%=render 'factura_venta/ventana_modal'%>
       <div><br/></br>
        
               
