<script type="text/javascript">
    $(document).ready(function () {
        $('#editar').on("click", function() {
        	_id= $("#id").val();
             $.ajax({

                    url: $(this).attr('ajax_path'),
                    data: {"id":_id},
                    async: true,

                    dataType: 'script'
                    });
                    return false;
         });
    });
</script>
  <%= form_tag detalle_factura_venta_path,:method => 'get' do %>
		
	   <div class="container-fluid">
	   	<div class="mismalinea">
	   		<label class="mismalinea">Filtrar:</label>
		   <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
	    </div>
    <table class="table table-bordered" >
		<thead>
			<tr>
				<th>id</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Total</th>
				<th>Acciones</th>
			</tr>
		</thead>
	  <tbody>
	  	<% if @detalles_factura_ventas==nil
	  	else
		  	@detalles_factura_ventas.each  do |detalle_factura_venta| %>	
			  	<tr>
			  		<td><%= detalle_factura_venta.id %></td>
					<td><%=detalle_factura_venta.producto.descripcion %></td>
					<td><%=detalle_factura_venta.cantidad%></td>
					<td><%=detalle_factura_venta.producto.precio_unitario %></td>
					<td><%=detalle_factura_venta.cantidad*detalle_factura_venta.producto.precio_unitario %></td>
		            <td><i class="icon-edit" title="editar"></i><%=link_to "editar",edit_detalle_factura_ventum_path(detalle_factura_venta),:onclick=>"muestra_oculta('editar_producto')"%> &nbsp &nbsp &nbsp   
					    <i class="icon-remove-sign" title="borrar"></i><%= link_to "borrar",detalle_factura_venta, :confirm => "Desea Eliminar el producto "+ detalle_factura_venta.producto.descripcion, :method => :delete %>
					</td>
				</tr>
			<% end %>
		<% end %>

	   </tbody>
  </table>
</div>
<% end %>

