
<script type="text/javascript">
    $(document).ready(function () {
        $('#guardar').on("click", function() {
             var _id_factura_venta= $("#id_factura_venta").val();
             var _id_producto=1
             var _cantidad = $("#cantidad").val();
             var _descuento = $("#descuento").val();
             $.ajax({
                    url: $(this).attr('ajax_path'),
                    data: {"id_factura_venta":_id_factura_venta,"id_producto":_id_producto,"cantidad":_cantidad,"descuento":_descuento},
                    async: true,
                    dataType: 'script'
                    });
                    return false;
         });
        
    });
</script>
       <div class="container"><br/>
          <%= form_for @detalle_factura_ventum,:remote=>true do |f| %>
            <%= render 'mensajes/error_mensajes', object: f.object %>  
                <%= f.hidden_field :id_factura_venta,:value=>FacturaVentum.id_factura()%>
            <div class="span3 " >
                <label class="label">Producto:</label>
                 <%= f.autocomplete_field :id_producto, autocomplete_producto_descripcion_detalle_factura_venta_path,:value=>@descripcion%>
            </div>
            <div class="span3 offset1">
               <label class="label">Cantidad:</label>
               <%=f.text_field :cantidad%>
             </div>
            <div class="span3 offset1" >
                <label class="label">Descuento:</label>
                 <%= f.text_field :descuento %>
            </div> 
                        
            <div class="span3 offset4" align="center"><br/><br/>
                <%= f.submit "Guardar", :class => 'btn btn-success'%>
            </div>  
        </div>  <br/><br/>  
        <%end%>             

