<div class="mover">
    <%= <%= f.fields_for :detalle_factura_venta do |g| %>
        <div class="container">
            <div class="row">
                <div class="span3 offset1">
                    <%= g.label "Producto:",class:"label" %>
                    <%=g.collection_select :id_producto,Producto.find(:all),:id,:descripcion,:prompt=>"--Seleccione--",id:"select"%>
                </div>      
                <div class="span3 offset1">
                    <%= g.label "Cantidad:",class:"label" %>
                    <%= g.text_field :cantidad %>
                </div>
                <div class="span3 offset1">
                    <%= g.label "Descuento:" ,class:"label"%>
                    <%= g.text_field :descuento %>
                </div>       
            </div><br/>
        </div>
  </div>         
    <% end %>