
<div class="container"><br/>
          <%= form_for(@detalle_factura_ventum,:remote=>true) do |g| %>
            <%= render 'mensajes/error_mensajes', object: g.object %>  
                <%= g.hidden_field :id_factura_venta,:value=>FacturaVentum.id_factura()%>
            <div class="span3 " >
                <label class="label">Producto:</label>
                 <%= g.autocomplete_field :id_producto, autocomplete_producto_descripcion_detalle_factura_venta_path,:value=>@descripcion,:id_element=>"#producto_id"%>
                 <%= g.hidden_field :id_producto,id:"producto_id"%>

            </div>
            <div class="span3 offset1">
               <label class="label">Cantidad:</label>
               <%=g.text_field :cantidad%>
             </div>
            <div class="span3 offset1" >
                <label class="label">Descuento:</label>
                 <%= g.text_field :descuento %>
            </div> 
                        
            <div class="span3 offset4" align="center"><br/><br/>
                <%= g.submit "Guardar", :class => 'btn btn-success'%>
            </div>  
      
        <%end%>
          </div>  <br/><br/>               
<script type="text/javascript">
</script>
