
<script type="text/javascript">
    $(document).ready(function () {
        $('#guardar').on("click", function() {
             var _id_factura_venta= $("#id_factura_venta").val();
             var _id_producto = 1
             var _cantidad = $("#cantidad").val();
             var _descuento = $("#descuento").val();
             $.ajax({
                    url: $(this).attr('ajax_path'),
                    data: {"id_factura_venta":_id_factura_venta,"id_producto":_id_producto,"cantidad":_cantidad,"descuento":_descuento},
                    async: true,
                    dataType: 'script'
                    });
                    return false;
         });
        $('#guardar_agregar').on("click", function() {
             var _id_factura_venta= $("#id_factura_venta").val();
             var _id_producto = 1
             var _cantidad = $("#cantidad").val();
             var _descuento = $("#descuento").val();
             $.ajax({
                    url: $(this).attr('ajax_path'),
                    data: {"id_factura_venta":_id_factura_venta,"id_producto":_id_producto,"cantidad":_cantidad,"descuento":_descuento},
                    async: true,
                    dataType: 'script'
                    });
                    return false;
         });
    });
</script>
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
        <h3>Producto</h3>
</div>

<div class="modal-body">
  <p id="notice"><%= notice %></p>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <%=hidden_field_tag :id_factura_venta,params[:id_factura_venta],:value=>FacturaVentum.id_factura()%>
                        <label class="label">Producto:</label>
                        <%=select :id_producto,params[:id_producto],Producto.find(:all).collect{|p| [p.descripcion, p.id]},:prompt=>"--Seleccione--"%>
                        <label class="label">Descuento:</label>
                        <%= text_field_tag :descuento,params[:descuento] %>
                    </div>      
                    <div class="span3">
                        <label class="label">Cantidad:</label>
                        <%=text_field_tag :cantidad,params[:cantidad]%>
                    </div>       
                </div>
            </div>
</div>         
    <div class="modal-footer">
         <%= link_to "Guardar", "#", :id => "guardar",  :class => 'btn btn-success',:ajax_path => guardar_detalle_factura_venta_path%>
         <%= link_to 'Guardar y Agregar', "#", :id => "guardar_agregar",  :class => 'btn btn-success',:ajax_path => guardar_agregar_detalle_factura_venta_path %>
         <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    </div>            

