<div class="mover">
    <%= form_for@detalle_factura_venta,remote:true  do |g| %>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <%g.hidden_field :id_factura_venta,:value=>'1'%>
                    <%= g.label "Producto:",class:"label" %>
                    <%=g.collection_select :id_producto,Producto.find(:all),:id,:descripcion,:prompt=>"--Seleccione--",id:"select"%>
                </div>      
                <div class="span3 offset1">
                    <%= g.label "Cantidad:",class:"label" %>
                    <%= g.text_field :cantidad %>
                </div>
                <div class="span3 offset1">
                    <%= g.label "Descuento:" ,class:"label"%>
                    <%= g.text_field :descuento %>
                </div>       
            </div><br/>
        </div>
  </div>            
                <div align="center">   
                    <div class="abajo"><br/>
                       <%= g.submit "Agregar", :class => 'btn btn-success'%>
                   </div>   
                </div>
                 
    <% end %>