
<script type="text/javascript">
    $(document).ready(function () {
        $('#guardar_agregar').on("click", function() {
            var _id_factura = $("#id_factura").val();
            var _producto_id = $("#producto_id").val();
            var _desc = $("#desc").val();
            var _cant = $("#cant").val();
             $.ajax({
                    url: $(this).attr('ajax_path'),
                    data: { "id_factura": _id_factura,"producto":_producto,"desc":_desc,"cant":_cant},
                    async: true,
                    dataType: 'script'
                    });
                    return false;
         });
    });
</script>
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
        <h3>Producto</h3>
</div>

<div class="modal-body">
  <p id="notice"><%= notice %></p>
        <%= form_for @detalle_factura_ventum,:remote=>true do |f| %>
        <%= render 'mensajes/error_mensajes', object: f.object %>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <%=f.hidden_field :id_factura_venta,:value=>FacturaVentum.id_factura()%>
                        <%=f.label "Producto:",class:"label"%>
                        <%=f.collection_select :id_producto,Producto.find(:all),:id,:descripcion,:prompt=>"--Seleccione--"%>
                         <%= f.label "Descuento:" ,class:"label"%>
                        <%= f.text_field :descuento %>
                    </div>      
                    <div class="span3">
                        <%= f.label "Cantidad:",class:"label"%>
                        <%= f.text_field :cantidad%>
                    </div>       
                </div>
            </div>
</div>         
    <div class="modal-footer">
         <%= f.submit "Guardar", :class => 'btn btn-success'%>
         <%= link_to 'Guardar y Agregar', '#', :id => "guardar_agregar",  :class => 'btn btn-success',:ajax_path => guardar_agregar_detalle_factura_venta_path %>
         <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
    </div>        
        <% end %><br/><br/>

