
 <div class="span2 offset6 iva" style="font-size: 12px;" align="right">
    <strong>Descuento (Gs): </strong>
  </div>
  <div class="span2">
      <%= text_field("factura_ventum",:total_descuento,:value => FacturaVentum.descuento(),:readonly => true)%>  
  </div>
 <div class="span10" style="font-size: 12px;">
    <div class="span2 iva" style="margin-left:-20px;">
      <strong>Total IVA 5%:</strong>
    </div>
    <div class="span2" style="margin-left:-30px;">
      <%= text_field("factura_ventum",:total_iva5,:value => FacturaVentum.factura_total_iva5(),:readonly => true )%>
    </div>
    <div class="span2 iva">
      <strong>Total IVA 10%:</strong>
    </div>
    <div class="span2" style="margin-left:-30px;">
      <%= text_field("factura_ventum",:total_iva10,:value => FacturaVentum.factura_total_iva10(),:readonly => true) %>
    </div>
    <div class="span2 iva" >
      <strong>Total IVA:</strong>
    </div>
    <div class="span2" style="margin-left:-30px;">
     <%= text_field("factura_ventum",:total_iva,:value => FacturaVentum.factura_total_iva(),:readonly => true )%> 
   </div>
  </div>
  <div class="span2 offset6 iva" style="font-size: 12px; " align="right">
    <strong>TOTAL (Gs):</strong>
  </div>
  <div class="span2" style="margin-left:30px;">
     <%= text_field("factura_ventum",:monto_total,:value => FacturaVentum.factura_monto_total(),:readonly => true) %> 
  </div>
