
 <div class="span2 offset8">
    <label class="label">descuento:</label>
      <%= text_field_tag(:total_descuento,params[:monto_total],:value => FacturaVentum.descuento(),:readonly => true)%>  
  </div>
 <div class="span10 offset1">
   <div class="span2 offset" style="margin-left:100px;">
   <label class="label">total iva 5:</label>
      <%= text_field_tag(:total_iva5,params[:monto_total],:value => FacturaVentum.factura_total_iva5(),:readonly => true )%>
    </div>
   <div class="span2 offset1">
      <label class="label">total iva 10:</label>
      <%= text_field_tag(:total_iva10,params[:monto_total],:value => FacturaVentum.factura_total_iva10(),:readonly => true) %>
   </div>
   <div class="span2 offset1">
     <label class="label">total iva:</label>
     <%= text_field_tag(:total_iva,params[:monto_total],:value => FacturaVentum.factura_total_iva(),:readonly => true )%> 
   </div>
  </div>
   <div class="span2 offset8">
    <label class="label">total:</label>                      
     <%= text_field_tag(:monto_total,params[:monto_total],:value => FacturaVentum.factura_monto_total(),:readonly => true) %> 
  </div>
