<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
        <h3>Nuevo Cliente</h3>
</div>

<div class="modal-body">
       <%= form_for@cliente, remote:true do |f| %>
     		 <div class="container">
            <div class="row">
               <div class="span3 ">
              <%= f.label "Nombre (*)",class:"label"%>
              <%= f.text_field :nombre,:id=>"txt_nombres",class: "span3", :placeholder => "Ingrese Nombre", :maxlength=>"25" %>
              <%= f.label "RUC/Nro CI (*)",class:"label"%>
              <%= f.text_field :num_identidad ,class: "span3" ,:placeholder => "Ingrese Nº de RUC o CI",:maxlength=>"10" %>
              <%= f.label "Telefono ",class:"label"%>
              <%= f.text_field :telefono ,class: "span3" , :placeholder => "xxx xxxxxx o xxxx xxxxx" ,:maxlength=>"15" %>
               <%= f.label "Localidad (*)",class:"label"%>
              <%=f.collection_select :id_localidad,Localidad.find(:all),:id,:nombre%>      
            </div>
            <div class="span3 ">
              <%= f.label "Apellido  (*)",class:"label"%>
              <%= f.text_field :apellido ,class: "span3" ,:placeholder => "Ingrese Apellido",:maxlength=>"25" %>
              <%= f.label "Direccion  (*)",class:"label"%>
               <%= f.text_field :direccion ,class: "span3" ,:placeholder => "Ingrese Direccion",:maxlength=>"35"  %>
               <%= f.label "Sexo  (*)",class:"label"%><br/> 
             <%= f.select(:sexo, ['M', 'F' ], id:"select", class: "span3")%>
            </div>
        </div>
      </div>    
 </div>	

  	     <div class="modal-footer">
              <%= f.submit "Guardar", :class => 'btn btn-success'%>
              <a href="#" class="btn" data-dismiss="modal">Salir</a>
         </div>
      <% end %>