 <br/>
    <div align="center">
    <h3> Lista de Facturas</h3>
    </div>
    
     <div class="container-fluid">
      <div class="mismalinea">
        <label class="mismalinea">Filtrar:</label>
       <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
      </div>
      <table id="table" class="table table-bordered">
        <thead>
            <tr>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Nro Factura</th>
              <th>Iva 5%</th>
              <th>Iva 10%</th>
              <th>Descuento</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% @facturas_ventas.each  do |f| %>          
            <tr>
              <td><%= f.cliente.nombre %></td>
              <td><%= f.fecha%></td>
              <td><%= f.nro_factura %></td>
              <td><%= f.total_iva5 %></td>
              <td><%= f.total_iva10 %></td>
              <td><%= f.total_descuento %></td>
              <td><%= f.monto_total %></td>
              <td><i class="icon-remove-sign" title="anular"></i><%= link_to "anular"%> &nbsp &nbsp &nbsp   
                  <i class="icon-file" title="ver"></i></i><%= link_to "ver"%>
              </td>
            </tr>
                <% end %>
                
        </tbody>
      </table>
          <%=will_paginate @facturas_ventas%> 
    </div>
     <div align="center">
      <i class="icon-plus-sign"></i>&nbsp<%= link_to 'Cargar Nueva Factura', new_factura_ventum_path %>
      <h8> | </h8>&nbsp&nbsp
      <i class="icon-file"></i>&nbsp<%= link_to 'Ver en PDF', factura_venta_path(:format => 'pdf')%>
    </div>    




