<br/>
    <div align="center">
    <h3> Factura Agregada</h3>
    </div>
    
     <div class="container-fluid">
      <table id="table" class="table table-bordered">
        <thead>
            <tr>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Nro Factura</th>
              <th>Iva 5%</th>
              <th>Iva 10%</th>
              <th>Descuento</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>        
            <tr>
              <td><%= @factura_ventum.cliente.nombre %></td>
              <td><%= @factura_ventum.fecha%></td>
              <td><%= @factura_ventum.nro_factura %></td>
              <td><%= @factura_ventum.total_iva5 %></td>
              <td><%= @factura_ventum.total_iva10 %></td>
              <td><%= @factura_ventum.total_descuento %></td>
              <td><%= @factura_ventum.monto_total %></td>
              <td><i class="icon-remove-sign" title="anular"></i><%= link_to "anular",@factura_ventum, :confirm => "Desea anular la factura nro "+ @factura_ventum.nro_factura.to_s,:method => :delete %> &nbsp &nbsp &nbsp   
                  <i class="icon-file" title="ver"></i></i>&nbsp <%= link_to "ver"%>
              </td>
            </tr>         
        </tbody>
      </table>
    </div>
     <div align="center">
      <i class="icon-plus-sign"></i><%= link_to 'Nueva Factura', new_factura_ventum_path %>&nbsp&nbsp
    <h8> | </h8>&nbsp&nbsp
    <i class="icon-list-alt"></i>&nbsp<%= link_to 'Ir a la Lista', factura_venta_path %>


    </div> 




