<div class="span8 offset2" style="margin-top:80px;">
    <%= form_for(@producto) do |f| %>
          <%= render 'mensajes/error_mensajes', object: f.object %>
             <legend>Nuevo Producto</legend>
             <div class="span8">

                  <div class="span3">
                     <%= f.label "Codigo (*)",class:"label"%>
                     <%= f.text_field :codigo,class: "span3" , onblur: "validar(this)",:placeholder => "Ingrese Codigo",:maxlength=>"6" %>
                     <%= f.label "Cantidad Minima (*)",class:"label"%>
                     <%= f.text_field :cant_minima,:placeholder => "Ingrese Cantidad Minima",onblur: "validar(this)",:maxlength=>"10"%>
                     <%= f.label "Precio Unitario (*)",class:"label"%>
                     <%= f.text_field :precio_unitario,class: "span3",:placeholder => "Ingrese Precio Unitario",onblur: "validar(this)",:maxlength=>"10"%>
                  </div> 
                  <div class="span3">
                    <%= f.label "Descripcion (*)",class:"label"%>
                    <%= f.text_field :descripcion,class: "span3",:placeholder => "Ingrese Descripción",:maxlength=>"30" %>
                    <%= f.label "Cantidad Optima (*)",class:"label"%>
                    <%= f.text_field :cant_optima,class: "span3",:placeholder => "Ingrese Cantidad Óptima",onblur: "validar(this)",:maxlength=>"10"%>
                    <%= f.label "Procentaje de IVA (*)",class:"label"%>
                    <%= f.select(:porcentaje, ['5', '10' ], id:"select", :prompt=>"-- Seleccione el Porcentaje de IVA--" , class: "span3")%>
                 </div>

               </div>
        
        <div class="span2 offset3" align="center"><br/>
            <%= f.submit "Guardar", class: "btn btn-primary"%>
            <%= link_to "Cancelar", productos_path, class: "btn"%>
        </div>

 </div>  

<% end %>    

