   <div class="centrar">
    <%= form_for(@producto) do |f| %>
          <%= render 'mensajes/error_mensajes', object: f.object %>
             <h4><%= yield(:title) %></h4><br/>
             <div class="container">
                <div class="row">
                  <div class="span3 offset1">
                     <%= f.label "Codigo:",class:"label"%>
                     <%= f.text_field :codigo,:placeholder => "Ingrese Codigo",:maxlength=>"6" %>
                     <%= f.label "Cantidad Minima:",class:"label"%>
                     <%= f.text_field :cant_minima,:placeholder => "Ingrese Cantidad Minima",:maxlength=>"10"%>
                     <%= f.label "Precio Unitario:",class:"label"%>
                     <%= f.text_field :precio_unitario,:placeholder => "Ingrese Precio Unitario",:maxlength=>"12"%>
                  </div> 
                  <div class="span3">
                    <%= f.label "Descripcion:",class:"label"%>
                    <%= f.text_field :descripcion,:placeholder => "Ingrese Descripción",:maxlength=>"50" %>
                    <%= f.label "Cantidad Optima:",class:"label"%>
                    <%= f.text_field :cant_optima,:placeholder => "Ingrese Cantidad Óptima",:maxlength=>"10"%>
                    <%= f.label "Procentaje de IVA:",class:"label"%>
                    <%= f.text_field :porcentaje,:placeholder => "Ingrese Porcentaje de IVA",:maxlength=>"2"%>
                 </div>
               </div>
           </div>  
   </div>  

      <div class="abajo" align="center"><br/>
          <%= f.submit "Guardar", class: "btn btn-primary"%>
      </div>   
  
    <% end %>    

