<label id="alert-destroy" class="alert alert-error span8 offset2" style="display: none; margin-top:10px;"></label>
<label id="alert-success" class="alert alert-success span8 offset2" style="display: none; margin-top:10px;"></label>

  <br/>
  <%= form_tag productos_path, :method => 'get' do %>
    <div class="span5 offset5">
    <h3> Lista de Productos</h3>
    </div>
    
     <div class="container-fluid">
      <div class="span30 offset1" >
      <div class="mismalinea">
        <label class="mismalinea">Filtrar:</label>
       <input type="text" id="filtrar" pszlaceholder="Filtrar" class="mismalinea-espacio">
      </div>
     
      <table id ="table" class="table table-bordered">
        <thead>
            <tr>
              <th>N°</th>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Cantidad Minima</th>
              <th>Cantidad Optima</th>
              <th>Precio Unitario</th>
              <th>IVA</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                <% @productos.each_with_index  do |producto, i| %>
                <% id = "page-" +i.to_s %>          
            <tr>
              <td><%= i+1 %></td>
              <td><%= producto.codigo %></td>
              <td><%= producto.descripcion %></td>
              <td><%= producto.cant_minima %></td>
              <td><%= producto.cant_optima %></td>
              <td><%= producto.precio_unitario%></td>
              <td><%= producto.porcentaje%>% </td>
              <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_producto_path(producto) %> &nbsp &nbsp &nbsp   
                      <i class="icon-remove-sign" title="borrar"></i><%= link_to "Borrar",producto, :confirm => "Desea eliminar el producto "+producto.descripcion, :method => :delete, remote: true %>
              </td>

            </tr>
                <% end %>
                
        </tbody>
      </table>
    </div>
          <%=will_paginate @productos%> 
    </div>
     <div class="span5 offset5">
      <i class="icon-plus-sign" title="editar"></i>&nbsp<%= link_to 'Nuevo Producto', new_producto_path %>&nbsp&nbsp
      <h8> | </h8>&nbsp&nbsp
      <i class="icon-file" title="editar"></i>&nbsp<%= link_to 'Ver en PDF', productos_path(:format => 'pdf'), :target => '_blank'%>

    </div>    
<% end %>

    <!-- SCRIPT ALERTA DE BORRADO -->
<script type="text/javascript">
  function cerrar(){
    $("#alert-destroy").hide();

  }
</script>