<br/>
<% provide(:title, @producto.descripcion) %>
<div class="span5 offset5">
	<h3>Datos del producto </h3><br/>
</div>
  <div class="span10 offset1">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Codigo</th>
              <th>Descripcion</th>
              <th>Cantidad Minima</th>
              <th>Cantidad Optima</th>
              <th>Precio Unitario</th>
              <th>Porcentaje</th>
              <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><%= @producto.codigo %></td>
              <td><%= @producto.descripcion %></td>
              <td><%= @producto.cant_minima %></td>
              <td><%= @producto.cant_optima %></td>
              <td><%= @producto.precio_unitario%></td>
              <td><%= @producto.porcentaje %></td>
              <td><i class="icon-edit" title="editar"></i><%= link_to "Editar", edit_producto_path(@producto) %> &nbsp &nbsp &nbsp   
                  
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  <div class="span3 offset5">
     <i class="icon-plus-sign" title="editar"></i>&nbsp<%= link_to 'Nuevo Producto', new_producto_path %>&nbsp&nbsp
     <h8> | </h8>&nbsp&nbsp
     <i class="icon-list-alt"></i>&nbsp<%= link_to 'Ir a la Lista', productos_path %>
   </div>

 
