<div class="span8 offset2" style="margin-top:80px;">	
	<%= form_for @funcionario do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>	
			<legend>Nuevo Funcionario</legend>
			<div class="span8">
               
                   <div class="span3">
						<%= f.label "Nombre (*)",class:"label"%>
						<%= f.text_field :nombres,class: "span3",:placeholder => "Ingrese Nombre",:maxlength=>"25" %><br/>
						<%= f.label "Nro de Documento (*)",class:"label"%>
						<%= f.text_field :num_identidad,class: "span3",:placeholder => "Ingrese Nº de RUC o CI",:maxlength=>"15" %><br/>
						<%= f.label "Telefono (*)",class:"label"%>
					    <%= f.text_field :telefono,class: "span3",:placeholder => "xxx xxxxxx",:maxlength=>"15" %><br/>
					    <%= f.label "Estado Civil (*)",class:"label"%>
						<%= f.select(:estado_civil, ['Casado', 'Soltero', 'Viudo', 'Separado' ],:prompt=>"--Seleccione Estado Civil--")%>
						<%= f.label "Estado Funcionario (*)",class:"label"%>
			            <%=f.collection_select :id_estado_funcionario,EstadosFuncionario.find(:all),:id,:descripcion,:prompt=>"--Seleccione Estado del Funcionario--"%>   
		            </div>
		            <div class="span3">
		             	<%= f.label "Apellido (*)",class:"label"%>
						<%= f.text_field :apellidos,class: "span3",:placeholder => "Ingrese Apellido",:maxlength=>"25"  %><br/>
						<%= f.label "Direccion (*)",class:"label"%>
						<%= f.text_field :direccion,class: "span3",:placeholder => "Ingrese Direccion",:maxlength=>"35"  %><br/>
						<%= f.label "Sexo (*)",class:"label"%>
						<%= f.select(:sexo, ['M', 'F' ],:prompt=>"--Seleccione Sexo--",id:"select")%>
		                <%= f.label "Funcion (*)",class:"label"%>
					    <%=f.collection_select :id_funcion,Funcion.find(:all),:id,:nombre,:prompt=>"--Seleccione--",id:"select"%>
			             <%= f.label "Localidad (*)",class:"label"%>
					     <%=f.collection_select :id_localidad,Localidad.find(:all),:id,:nombre,:prompt=>"--Seleccione Localidad--"%>    
			       		 <a data-toggle="modal" href="#localidad" ><label  class="mismalinea-espacio"> (+)Nueva Localidad </label></a> 	<br/>    
			     </div> 
</div>	
				<div class="span2 offset3" align="center"><br/>
						<%= f.submit "Guardar", class: "btn btn-primary"%>
						<%= link_to "Cancelar", funcionarios_path, class: "btn"%>
				</div>
	</div>	
<% end %>
	    			
	<div class="span2">
      <div id="localidad" class="modal hide fade in" style="display: none;">
        	 <%=render 'funcionarios/ventana_modal'%>
       <div>
    </div> 
     
     
