
   <div class="centrar">
    <%= form_for(@funcionario) do |f| %>
   		 <%= render 'mensajes/error_mensajes', object: f.object %>
			<h4><%= yield(:title) %></h4><br/>
			    <div class="mismalinea">
					<%= f.label "Nombres:",class:"mismalinea"%>
					<%= f.text_field :nombres,:placeholder => "nombre" ,class:"mismalinea-espacio",:maxlength=>"50"%>
				</div>
				<div class="mismalinea-espacio">
					<%= f.label "Apellidos:",class:"mismalinea"%>
					<%= f.text_field :apellidos,:placeholder => "apellido",class:"mismalinea-espacio",:maxlength=>"50"  %>
				</div>	<br/><br/><br/>
				<div class="mismalinea">	
					<%= f.label "Nro de doc:",class:"mismalinea"%>
					<%= f.text_field :num_identidad,:placeholder => "num_documenhto",class:"mismalinea-espacio",:maxlength=>"9" %>
				</div>	
				<div class="mismalinea-espacio">
				    <%= f.label "Direccion:",class:"mismalinea"%>
					<%= f.text_field :direccion,:placeholder => "direccion",class:"mismalinea-espacio",:maxlength=>"70"  %>
				</div><br/><br/><br/>	
				<div class="mismalinea">
					<%= f.label "Telefono:",class:"mismalinea"%>
					<%= f.text_field :telefono,:placeholder => "telefono" ,class:"mismalinea-espacio",:maxlength=>"15" %>
				</div>
				<div class="mismalinea-espacio">	
					<label class="mismalinea">Estado Civil:</label>
					<div class="mismalinea-espacio">
					    <select name="funcionario[estado_civil]" class="selectpicker" >
					    	 <option value="Soltero">--Seleccione--</option>
		                     <option value="Soltero">Soltero</option> 
		                      <option value="Casado">Casado</option> 
		                </select> 
		             </div>   
	             </div>  <br/><br/><br/> 
                <div class="mismalinea">
					<label class="mismalinea">Sexo:</label>
					<div class="mismalinea-espacio">
						<select name="funcionario[sexo]" class="selectpicker">
							<option value="1">--Seleccione--</option> 
		                    <option value="M">Masculino</option> 
		                    <option value="F">Femenino</option> 
		                </select> 
		             </div>    
	            </div> 
	            <div class="mismalinea-espacio">   
			        <label class="mismalinea">Localidad: </label>
			        <div class="mismalinea-espacio">
			             <select name="funcionario[id_localidad]" class="selectpicker">
							  <% @localidades.each do |localidad| %>
							        <option value="<%= localidad.id %>" 
										  <%= 'selected' if localidad.id == @funcionario.id_localidad%>><%= localidad.nombre %>
								     </option>
							  <% end %>
			              </select> 
			        </div>      
			     </div> <br/><br/><br/>        
		        <div class="mismalinea">
				    <label class="mismalinea">Funcion:</label>
				    <div class="mismalinea-espacio">
					     <select name="funcionario[id_funcion]" class="selectpicker">
								<% @funciones.each do |funcion| %>
									<option value="<%= funcion.id %>" 
										  <%= 'selected' if funcion.id == @funcionario.id_funcion%>><%= funcion.nombre %>
									</option>
								<% end %> 
			             </select> 
			        </div>     
			     </div> 
			     <div class="mismalinea-espacio">  
			        <label class="mismalinea">Estado del Funcionario:</label>
			           <div class="mismalinea-espacio">
			               <select name="funcionario[id_estado_funcionario]" class="selectpicker">
			                    <option value="1">--Seleccione--</option> 
									<% @estados_funcionarios.each do |estado_funcionario| %>
										<option value="<%= estado_funcionario.id %>" 
										     <%= 'selected' if estado_funcionario.id == @funcionario.id_estado_funcionario%>>
										     <%= estado_funcionario.descripcion %>
									    </option>
									<% end %> 
			                 </select> <br/>
			          </div>     
			     </div> 
	</div>		
	            <div class="abajo"><br/>                 
			    	<%= f.submit "Guardar", class: "btn btn-primary" %>	
			    </div>		 
    <% end %><br/><br/>