  <br/>
  <div align="center">
	<h3> Lista de Funcionarios</h3>
	</div>
   <div class="container-fluid">
    	<div class="mismalinea">
	   		<label class="mismalinea">Filtrar:</label>
		   <input type="text" id="filtrar" placeholder="Filtrar" class="mismalinea-espacio">
	    </div>
		<table id="table" class="table table-bordered">
			<thead>
					<tr>
						<th>Nombres</th>
						<th>Apellidos</th>
						<th>Nro de RUC o CI</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th>Estado Civil</th>
						<th>Sexo</th>
						<th>Localidad</th>
						<th>Estado Funcionario</th>
						<th>Funcion</th>
						<th>Acciones</th>
					</tr>
			</thead>
			<tbody>
	            <% @funcionarios.each  do |funcionario| %>					
					<tr>
						<td><%= funcionario.nombres %></td>
						<td><%= funcionario.apellidos %></td>
                        <td><%= funcionario.num_identidad %></td>
						<td><%= funcionario.direccion %></td>
                        <td><%= funcionario.telefono%></td>
                        <td><%= funcionario.estado_civil %></td>
			            <td><%= funcionario.sexo %></td>
			             <td><%= funcionario.localidad.nombre %></td>
			             <td><%= funcionario.estados_funcionario.descripcion %></td>
			             <td><%= funcionario.funcion.nombre %></td>
						<td><i class="icon-edit" title="editar"></i><%= link_to "editar", edit_funcionario_path(funcionario) %> &nbsp &nbsp &nbsp   
						    		<i class="icon-remove-sign" title="borrar"></i><%= link_to "borrar", funcionario, :confirm => "Desea eliminar el funcionario "+funcionario.nombres, :method => :delete %>
						</td>
					</tr>
	            <% end %>
			</tbody>
		</table>
		<%=will_paginate %>
  </div>
	<div align="center">
		<i class="icon-plus-sign"></i>&nbsp<%= link_to 'Nuevo Funcionario', new_funcionario_path %>
	</div>
